<header>
    <nav>
        <ul>
            <li>MY {{message title}}</li>
            <li><a href="/">{{main}}</a></li>
            <li><a href="../about">{{about}}</a></li>
            <li><a href="../dynamic">{{dynamic}}</a></li>
        </ul>
    </nav>
</header>